#mePic{
    height: 400px;
    width: 375px;
}

body{
    background-image: url("trees.jpeg")
}

.about{
    text-align: left;
    margin-left: 25px
}

#quoteText{
    text-align: center;
}

.jumbotron{
    width:100%
}

.card{
    margin-left:25%;
    margin-top: 5%
}

img{
    height: 200px;
    width: 200px;
}

#portTitle{
    text-align: center
}

.jumbotron{
    color: #80BD9E;
}


